---
import Card, { type Props as CardProps } from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

// Create last updated date in format
const lastUpdated = new Date().toLocaleString('en-GB', {
	day: '2-digit',
	month: 'long',
	year: 'numeric',
	hour: '2-digit',
	minute: '2-digit',
	second: '2-digit',
	timeZoneName: 'short',
});

const cardData: CardProps[] = [
	{
		number: "001",
		text: "Dear Eliot,\nI am filled WWith trepidation, nervous that my instincts could be wrong. But I must admit that I see something in you. SomEEthing that doesn't exist in the other citizens of this lifeless construct. I've noticed the way you look at my art, like you see something deeper in it, something the others cannot see. It calls you -- and maybe that's because I'm screaming for commonality with every brush stroke. You are the only one seeing what I hope for soMMeone to see. My art, I hope, cries for freedom from these confines, and a whisper against the [...] forces of the bishops - a whisper [...]",
		clue: "WEM",
		date: new Date("2024-08-15"),
	},
	{
		number: "008",
		text: "You're right, the only glorious guest (quest?) left is beyond these walls. Clancy has exposed cracks that I am now ready to break open. We have to act fast, before the bishops have a chance to react. I aMM willing to take the risk and stand OOn the side of tRRuth.\n\nSahlo,\nJansen",
		clue: "MOR",
		date: new Date("2024-08-16"),
	},
	{
		number: "027",
		text: "Dear Karta,\nIf you only knew how long I spend washing my hands you woulDD know how embarrassed I am. They don't want anyone to know what we do down here. There were even laws written about what we inhale, and how deeply our skin gets stained. But you must be the baker -- the sleuth whOO found me out. [...] right - it's an odd [...] cellar. Manipulating [...]",
		clue: "DO",
		date: new Date("2024-08-18"),
	},
].sort((a, b) => +a.number - +b.number);
const clues = [];

let lastNumber = 0;
for (const card of cardData) {
	const number = +card.number;
	if (lastNumber + 1 !== number) clues.push("??");

	clues.push(card);
	lastNumber = number;
}

---

<Layout title="Digital Encrypted Message Archive">
	<main>
		<h1>Citizen <span class="text-gradient">Message Archive</span></h1>
		<aside class="disclaimer">
			<p>Welcome to the <span class="dema">Digital Encrypted Message Archive</span>, an unofficial archive of messages from citizens across Dema.</p>
			<p class="last-updated">Last updated: {lastUpdated}</p>
		</aside>

		<h2 class="list-heading" id="collected-clues">Collected clues</h2>

		<ol class="clues">
			{clues.map((clue) => (
				typeof clue === "string"
					? <li>{clue}</li>
					: <li><a href={`#${clue.number}`}>{clue.clue}</a></li>
			))}
		</ol>

		<h2 class="list-heading" id="most-recent">Most recent letters</h2>
		<ol class="list">
			{cardData.sort((a, b) => b.date.getTime() - a.date.getTime()).map((card) => (
				<Card {...card} />
			))}
		</ol>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.5;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.clues {
		list-style: none;
		display: flex;
		justify-content: center;
		gap: 1em;
		padding: 0;
	}

	.clues a {
		color: inherit;
		font-weight: bold;
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 2em;
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.list-heading {
		font-size: inherit;
		color: #777;
		/* padding-left: 2em; */
		padding-bottom: 0;
		padding-top: 1.5em;
	}

	.disclaimer {
		color: #777;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.disclaimer p {
		max-width: 600px;
		margin-bottom: 0;
	}

	.last-updated {
		font-size: 0.8em;
	}

	.dema {
		font-weight: bold;
		color: #999;
	}
</style>
