---

export interface Props {
	clue: string;
	number: string;
  hideText?: boolean;
}

const { clue, number } = Astro.props;

---

<li class="clue">
  <a class="link" href={`#${number}`}>
    <h2 class="number">{number}</h2>
    {
      Astro.props.hideText
        ? null
        : <p class="text">{clue}</p>
    }
  </a>
</li>
<style>

.link, .text {
  display: inline;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.number {
  display: inline;
  font-size: inherit;

  color: white;
  margin-bottom: 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  padding: 4px;

  background: #E6652F;
  
  /* This is so hacky to get the height to be roughly square */
  padding-block: 6.95px;

  background-size: 400%;
  border-radius: 5px;
}
</style>
