---

export interface Props {
	clue: string;
	number: string;
  uncertain?: boolean;
  hideText?: boolean;
}

const { clue, number, uncertain } = Astro.props;

const numberWithoutSuffix = number.replace(/[AB]$/, "");
const suffix = number.replace(numberWithoutSuffix, "");
console.log({number, numberWithoutSuffix, suffix});

---

<li class="clue">
  <a class="link" href={`#${number}`}>
    <h2 class="number">
      {numberWithoutSuffix.trim()}{uncertain ? '*' : ''}
      {suffix === "A" && <span class="suffix suffix-a">TOP</span>}
      {suffix === "B" && <span class="suffix suffix-b">END</span>}
    </h2>
    {
      Astro.props.hideText
        ? null
        : <p class="text">{clue}</p>
    }
  </a>
</li>
<style>

.link, .text {
  display: inline-block;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}

.number {
  position: relative;
  display: inline-block;
  font-size: inherit;

  color: white;
  margin: 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  padding: 4px;

  background: #E6652F;
  
  /* This is so hacky to get the height to be roughly square */
  padding-block: 6.95px;

  background-size: 400%;
  border-radius: 5px;
}

.suffix {
  position: absolute;
  text-align: right;
  font-size: 0.5em;
  top: 0;
  right: 4px;
}
.suffix-b {
  top: unset;
  bottom: 0;
}
</style>
